<div color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a mat-button [routerLink]="['profile']">Profile</a>

  @if (!loginDisplay) {
  <button>Login</button>
  }
  <div>
    <button mat-menu-item (click)="loginRedirect()">
      Login using Redirect
    </button>
    <button mat-menu-item (click)="loginPopup()">Login using Popup</button>
  </div>

  @if (loginDisplay) {
  <button>Logout</button>
  }
  <div>
    <button mat-menu-item (click)="logout()">Logout using Redirect</button>
    <button mat-menu-item (click)="logout(true)">Logout using Popup</button>
  </div>
</div>
<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  @if (!isIframe) {
  <router-outlet></router-outlet>
  }
</div>
